{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("fc/fullcalendar.css") }}">
<link rel="stylesheet" href="{{ asset("fc/fullcalendar.print.css") }}" media="print">
<link rel="stylesheet" href="{{ asset("css/style_calendar.css") }}">
{% endblock %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
        {% include "admin/modal/time_table_modal.html.twig" %}
    </div>

    <div class="row">
        <div class="col-md-4">
            <h1>Расписание полетов</h1>
        </div>
        <div class="col-md-5">
            <h1 align="right"> <a href="{{ path("admin_index") }}">Панель администратора</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12" id="calendar"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("fc/lib/moment.min.js") }}" type="application/javascript"></script>
    <script src="{{ asset("fc/fullcalendar.js") }}" type="application/javascript"></script>
    <script src="{{ asset("fc/locale/ru.js") }}" type="application/javascript"></script>
    <script src="{{ asset("js/modals/YesNoDialog.js") }}" type="application/javascript"></script>
    <script src="{{ asset("js/create_calendar.js") }}" type="application/javascript"></script>
{% endblock %}